@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');

* {
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

.menu-container {
  margin: 0;
  font-family: 'Lato', sans-serif;
  padding-left: 300px;
}

.menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 280px;
  background: #2f3947;
}

.menu .profile {
  text-align: center;
}

.house-bg-dark-Sonserina {
  background: #0a2309;
}

.house-bg-dark-Corvinal {
  background:  #004475;
}

.house-bg-dark-Grifinória {
  background: #ab100b;
}

.house-bg-dark-Lufa-Lufa {
  background: #efb903;
}

.menu .profile .profile-name {
  line-height: 70px;
  color: #fff;
  font-weight: 300;
  margin-left: 10px;
}

.profile-image {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  top: 13px;
}

.menu .menu-items {
  list-style: none;
  padding: 0;
}

.menu .menu-items .menu-item .menu-link {
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
  line-height: 50px;
  display: block;
  padding-left: 20px;
}

.menu .menu-items .menu-item .menu-link:hover {
  background: rgba(0, 0, 0, 0.1);
}

.menu .menu-items .menu-item .menu-link img {
  width: 22px;
  position: relative;
  top: -1px;
  margin-right: 10px;
}

.menu .menu-items .menu-item .menu-link.active {
  border-right: 4px solid #ffae00;
  background: rgba(0, 0, 0, 0.1);
}

.inner {
  padding-left: 280px;
}

.inner > .cadastro-body {
  padding-right: 80px;
}

.inner-cadastro {
  padding-left: 350px;
  padding-right: 50px;
}

/*AMIGOS*/

.amigos-container {
  width: 80%;
  margin: 50px auto;
  height: 100%;
}
.amigos-container::after {
  content: "";
  display: table;
  clear: both;
}

.amigo {
  display: inline-block;
  background-color: white;
  margin: 20px;
  padding: 20px;
  vertical-align: middle;
  height: 250px;
  border: 1px solid #e6e6e6;
}
/*impar*/
.amigo:nth-child(odd) {
  float: left;
}

.amigo:nth-child(even) {
  float: right;
}

strong {
  display: block;
  padding-top: 7px;
}

.amigo > button  {
  width: 80%;
  border: 0;
  position: relative;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  text-transform: uppercase;
  top: -10%;
}

@media screen and (max-width: 1300px) {
  .text {
    display: none;
  }
  .amigo {
    width: 200px;
    float: left !important;
  }

  .amigo > button  {
    top: 10%;
  }

}

.clearfix > .amigo > img {
  max-width: 180px;
  max-width: 145px;
  width: auto;
  height: auto;
}

.text {
  float: right;
  width: 50%;
  height: 200px;
  position: relative;
}

.text > .info {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 58%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.clearfix:after {
  content: "";
  clear: both;
}

.amigo > .info > span {
  float: right;
  clear: right;
}

.info {
  vertical-align: middle;
}

/*SOLICITACOES*/

.scrollbar::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar
{
  width: 6px;
}

.scrollbar::-webkit-scrollbar-thumb
{
  background-color: #4cae4c;
}

.scrollbar {
  /*overflow-y: scroll;*/
  overflow-y:scroll;
  position:relative;
  height: 350px;
}

.solicitacoes {
  background-color: rgba(0, 0, 0, 0.1);
}

.solicitacoes > li > .info-user {
  text-align: center;
  color: #f2f2f2;
  display: block;
}

.solicitacoes > li > .botoes {
  display: block;
  text-align: center;
}

.solicitacoes > li > img {
  display: block;
  margin: 0 auto;
  width: 60px;
  height: 60px;
}

.border-add {
  width: 60%;
  border: none;
  padding: 10px 20px;
  border: 1px solid grey;
  border-radius: 5px;
}

textarea {
  font: 14px/22px "Lato", Arial, sans-serif;
  margin-bottom: 10px;
  resize: none;
}

.btn-primary {
  display: block;
  margin: 10px 0;
}

h1, h2 {
  margin: 0;
}

em {
  color: black;
}

em:hover {
  color: grey;
}

.container {
  padding-top: 15px;
}

form {
  margin-top: 10px;
}

.login-btn {
  display: inline-block;
}

.btn-default {
  margin-left: 5px;
}

.container-centered {
  margin: 0 -20px;
  padding: 10px 0;
  text-align: center;
  /*background: #e0e0e0;*/
}

.btn-postar {
  margin: 12px auto;
}

.post-add {
  text-transform: uppercase;
  color: #d6d6d6;
}

.color-Sonserina {
  color: #0a2309;
}

.color-Grifinória {
  color: #ab100b;
}

.color-Corvinal {
  color: #004475;
}

.color-Lufa-Lufa {
  color: #efb903;
}

.btn-pesquisa > img {
  position:absolute;
  top: 50%;
  left:50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-55%, -50%);
  width: 22px;
}

.btn-pesquisa {
  display: inline-block;
  width: 45px;
  height: 35px;
  padding: 10px;
  position: relative;
}

.busca-user {
  width: 60%;
  height: 35px;
  display: inline-block;
}

.form-pesquisa {
  margin: 0 auto;
  width: 900px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.post-date {
  font-style: italic;
  color: #ffae00;
  float: right;
}

.profile-image-feed {
  min-width: 70px;
  min-height: 70px;
}

.post {
  margin: 50px auto;
  width: 60%;
}

.content {
  word-wrap: break-word;
  padding: 20px;
  margin: 10px;
  border:  1px solid #f2f2f2;
}

.content > img {
  max-height: 600px;
  max-width: 600px;
  width: auto;
  height: auto;
}


/*PERFIL*/

.profile-picture {
  min-width: 200px;
  min-height: 200px;
}

.capa {
  margin: 0;
  position: absolute;
  height: 250px;
  width: 100%;
  background-position: center;
}

.profile-wizard {
  top: 40%;
  position: absolute;
  left: 50%;
  transform: translate(-58%);
}

@media screen and (max-width: 1300px) {
  .menu {
    display: none !important;
  }

  .inner {
    padding-left: 0;
  }

}

.text-info {
  color: black;
}

.container-busca {
  width: 80%;
  display: block;
  margin: 0 auto;
}

.container-busca > .amigo-busca {
  padding: 40px;
}

.container-busca > .amigo-busca:nth-child(odd) {
  float: left;
}

.container-busca > .amigo-busca:nth-child(even) {
  float: right;
}

.btn-profile-edit {
  display: inline-block;
}
