* {
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  background-color: #fafafa;
  line-height: 220%;
}

header {
  height: 65px;
  background: #c4170c;
  text-align: center;
  position: relative;
}

header .title {
  /*display: inline-block;*/
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-transform: uppercase;
  font-size: 25px;
  /*margin-top: 15px;*/
  font-weight: 800;
}

.container {
  font-size: 0;
  height: 100%;
  width: 85%;
  margin: 30px auto;
}

.title {
  color: #c4170c;
  font-weight: 700;
  font-size: 30px;
}

.wrapper {
  font-size: initial;
  float: left;
  width: 50%;
}


.l {
  padding-right: 20px;
}

.r {
  padding-left: 20px;
}

.col {
  width: 100%;
  background: white;
  border: 1px solid #dddddd;
  padding: 30px;
  margin-bottom: 40px;

}

.capitular::first-letter {
  margin: 15px 4px 0px 0px;
  float:left;
  color:#c4170c;
  font-size:70px;''
  float: left;
  clear: left;
}

img {
  margin: 13px;
  margin-top: 30px;
  max-width: 160px;
  max-height: 160px;
  width: auto;
  height: auto;
  float: right;
  clear: right;
}

.date {
  text-transform: uppercase;
  color: #dddddd;
  float: right;
  margin: 0;
  margin-top: -10px;
  font-size: 14px;
}

.subtitulo {
  color: #bbbbbb;
  line-height: normal;
  margin-top: 10px;
}
