@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700');

* {
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  margin: 0;
  font-family: 'Khula', sans-serif;
}


label, input {
  display: inline-block;
}
