@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700');

* {
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  margin: 0;
  font-family: 'Khula', sans-serif;
}

.container {
  margin-top:20px;
  width: 80%;
}

label, input {
  display: inline-block;
}

span {
  font-size: 12px;
  color: red;
}

form {
  margin-bottom: 30px;
}
