@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700');
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Khula', sans-serif;
  background-color: #fafafa;
}

#container {
  background-color: #fafafa;
  text-align: center;
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  /*border-left: 2px radius black;*/
}

h1 {
  margin-top: 0;
  font-size: 55px;
  font-family: 'Amatic SC', cursive;
  margin-bottom: 5px;
  color: black;
}

#pokemonMashup > img{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 200px;
  min-height: 200px;
  
}

.e {
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
}
