<!DOCTYPE html>
<html ng-app="aula02">
  <head>
    <title>Exercicio Date</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../dia01/css/style.css">
    <link rel="stylesheet" href="css/date-style.css">
    <link href="https://fonts.googleapis.com/css?family=Khula:400,600,700,800" rel="stylesheet">
    <script  type="text/javascript" src="https://code.angularjs.org/1.6.4/angular.js"> </script>
    <script type="text/javascript" src="js/controller.js"> </script>
  </head>
  <body>
    <div class="container" ng-controller="Controller">
      <h1>Digite a Data:</h1>
      <input type="text" ng-model="data" placeholder="dd/mm/aaaa">
      <button ng-click="formatar(data)">Formatar</button>
      <p> {{ dataObjeto | date:'shortDate'}} </p>
    </div>

  </body>
</html>
