<div class="inner">

  <div ng-include="'../menu/menu.html'"></div>
  <div class="amigos-container clearfix">
    <div ng-repeat="amigo in amigos" class="amigo col-sm-5 clearfix">
      <img ng-src="{{amigo.foto}}" alt="">
      <div class="text">
        <strong>
          Nome:
        </strong>
        {{amigo.nome}}
        <div class="text-info">
          <strong>
            Email:
          </strong>
          {{amigo.email}}
          <strong>
            Casa:
          </strong>
          {{amigo.casa}}
        </div>
      </div>
      <button class="btn btn-primary" ng-click="verPerfil(amigo)">Ver Perfil</button>
    </div>
  </div>
</div>
</div>
