@import url('https://fonts.googleapis.com/css?family=Anton|Lobster');

* {
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  margin: 0;
}

/*header*/
.cabecalho {
  display: block;
  background-color: #ffca00;
  width: 100%;
  height: auto;
}

.title {
  padding-left: 30px;
  display: block;

}

.editora {
  font-family: 'Anton', sans-serif;
  text-transform: uppercase;
  font-size: 50px;
  padding-top: 10px;
}

.crescer {
  font-family: 'Lobster', cursive;
  font-size: 30px;
  margin-top: -20px;
  padding-left: 95px;
  padding-bottom: 10px;
}




/*body*/

.livro {
  display: inline-block;
  background-color: white;
  margin: 20px;
  padding: 20px;
  vertical-align: middle;
  height: 300px;
  border: 1px solid #e6e6e6;
}

.livro:nth-child(odd) {
  float: left;
}

.livro:nth-child(even) {
  float: right;
}

@media screen and (max-width: 1300px) {
    .text {
        display: none;
    }
    .livro {
      width: 200px;
      float: left !important;
    }
}

.col-sm-4 > div > img {
  max-width: 180px;
  max-width: 145px;
  width: auto;
  height: auto;
}

.text {
  float: right;
  width: 50%;
  height: 200px;
  position: relative;
}

.text > .info {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 58%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.visualizar {
  width: 80%;
  border: 0;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #e6e6e6;
  font-weight: bold;
  text-transform: uppercase;
  background-color: white;
}

.visualizar:hover {
  background-color: #ffca00;
}

.info > span {
  display: inline-block;
  margin: 5px;
}


/*lancamento*/

.lancamentos {
  font-family: 'Anton', sans-serif;
  text-transform: uppercase;
  color: #ffca00;
  text-align: center;
  display: block;
  font-size: 24px;
}

.lancamentos-title {
  font-family: 'Lobster', cursive;
  font-weight: bold;
  color: black;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  border-bottom: 2px solid black;
}

.lancamentos-grupo {
  display: block;
  width: auto;
  height: auto;
}

.clearfix:after {
  content: "";
  clear: both;
}




/*Botões de trocas de Página*/

.paginas {
  text-align: center;
}

.botoes {
  border: 0;
  width: 10px;
  border: 1px solid #e6e6e6;
  font-weight: bold;
  text-transform: uppercase;
  background-color: white;
  width: 150px;
  margin: 30px 10px;
  padding: 10px;
}

.botoes:hover {
  background-color: #ffca00;
}







//
