body {
  font-family: cursive;
}

h1 {
  color: black;
  font-size: 24px;
}

p {
  height: 216px;
  margin-top: -16px;
  margin-bottom: -5px;
  color: white;
  background-color: black;
}

a {
  margin-top: 5px;
  color: black;
  //display: block;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #ff0000;
  font-style: italic;
}

a:visited {
  color: #ff0000;
}
