<div ng-include="'../menu/menu.html'"></div>


<div class="inner">

  <h2>Adicione uma postagem</h2>

  <form ng-submit="adicionarPost(post)">
    <textarea class="border-add" ng-model="post.descricao" placeholder="obrigatório">
    </textarea>
    <input class="border-add" type="text" ng-model="post.urlImagem" placeholder="imagem: opcional">
    <button class="btn btn-primary" type="submit">Adicionar Post</button>
  </form>

  <div ng-repeat="post in posts">
    {{post.usuario.nome}}
    {{post.dataPublicacao}}
    {{post.descricao}}
  </div>

  <div class="paginas">
    <button class="botoes" ng-hide="primeiraPagina" ng-click="decrementarPagina()">Anterior</button>
    <button class="botoes" ng-hide="ultimaPagina" ng-click="incrementarPagina()">Próxima</button>
  </div>
</div>
