<span>Lançamentos</span>
<div ng-repeat="lancamento in lancamentos">
  <div class="">
    <img src="{{livro.Capa}}">
    {{lancamento.Titulo}}
    {{lancamento.NomeAutor}}
    {{lancamento.Genero}}
    <button type="button" ng-click="visualizar(lancamento)">Visualizar</button>
  </div>
</div>

<div class="container">
  <div class="livro" ng-repeat="livro in livros">
    <div class="col-sm-4">
      <img src="{{livro.Capa}}">
      <div class="text">
        <div class="info">
          <span>
            <strong>Título:</strong>
            {{livro.Titulo}}
          </span>
          <span>
            <strong>Autor:</strong>
            {{livro.NomeAutor}}
          </span>
          <span>
            <strong>Gênero:</strong>
            {{livro.Genero}}
          </span>
        </div>
      </div>
      <button class="visualizar" ng-click="visualizar(livro)">Visualizar</button>
    </div>
  </div>
</div>
